header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 60px;
}
header > img {
    width:150px;
}
nav {
    display:flex;
    gap:60px;
}

nav > a {
    text-decoration: none;
    color:rgb(9, 9, 172);
    font-weight: 600;
}